<%= nested_form_for @question do |f| %>
<% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :desc %>
    <%= f.text_area :desc %>
  </div>


  <ul>
    <%= f.fields_for :answers do |answer_form| %>
    <%= answer_form.text_field :title %>
    <%= answer_form.link_to_remove "Remove this task" %>
    <% end %>
  <p><%= f.link_to_add "Add a answer", :answers %></p>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


